html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: 0;
}

.block {
  margin: 5px 0;
  border: 1px solid #f1e8e2;
  background: #fff;
}

.block-title {
  font-family: Arial;
  font-size: 12px;
  color: #4c4743;
  padding: 0 10px;
  height: 33px;
  line-height: 33px;
  position: relative;
}

.sortable, .ui-sortable {
  padding-left: 0;
}

.sortable, .ui-sortable, .sub-sortable {
  list-style: none;
}

.sortable ul, .ui-sortable ul {
  margin-left: 25px;
  padding: 5px;
}

.file {
  padding: 5px;
}

.ui-sortable-helper {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 5px 0;
  width: 300px !important;
  height: 33px !important;
}

.sortable-placeholder {
  height: 35px;
  background: #e3dcd7;
  margin-bottom: 5px;
  margin-top: 5px;
}
